name: Build draft preview
on:
  pull_request_target:
    branches: ["main"]
    types: [labeled, opened, synchronize, reopened]
permissions:
  contents: read
  pull-requests: write
jobs:
  build-preview:
    uses: curvenote/actions/.github/workflows/draft.yml@v1
    with:
      enforce-single-folder: false
      venue: cn-testing
      collection: interactive-tests
      kind: article
    secrets:
      CURVENOTE: ${{ secrets.CURVENOTE_TOKEN }}
      GITHUB: ${{ secrets.GITHUB_TOKEN }}
